<footer>
    <div class="container">
      <img src="/img/logo.png" alt="Logo">
      <div class="info">
        <h3>MTs Darul Falah Cukang Bungur</h3>
        <p>Social Media</p>
        <div class="sosmed">
          <span>Facebook</span><span>Instagram</span><span>YouTube</span><span>WhatsApp</span>
        </div>
      </div>
      <div class="links">
        <h4>Tautan Cepat</h4>
        <ul>
          <li><a href="#">Beranda</a></li>
          <li><a href="#">Profil</a></li>
          <li><a href="#">Ekstrakurikuler</a></li>
          <li><a href="#">Galeri</a></li>
          <li><a href="#">Kontak</a></li>
          <li><a href="#">PPDB</a></li>
        </ul>
      </div>
      <div class="kontak">
        <h4>Kontak Kami</h4>
        <p>Email: mtsdarulfalahcukangbungur@gmail.com<br>
           Telepon: 0857...</p>
      </div>
    </div>
    <div class="copyright">
      © 2025 MTs Darul Falah Cukangbungur. All rights reserved.
    </div>
  </footer>
  <script src="/js/slider.js"></script>
  <script src="/js/galeri.js"></script>
  <script src="/js/wa.js"></script>
  <script src="/js/ppdb.js"></script>
  </body>
  </html>