<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MTs Darul Falah</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<header>
  <div class="container">
    <img src="/img/logoo.jpg" alt="Logo" class="logo">
    <h1>MTs Darul Falah<br><span>Cukangbungur</span></h1>
    <nav>
      <ul>
        <li><a href="/">Beranda</a></li>
        
        <li class="dropdown">
          <a href="#">Profil ▼</a>
          <div class="submenu">
            <a href="/profil/sekolah">Profil Sekolah</a>
            <a href="/profil/sejarah">Sejarah Singkat</a>
            <a href="/profil/staff">Staf Pengajar</a>
            <a href="/profil/visi-misi">Visi, Misi & Tujuan</a>
            <a href="/profil/tenaga-kependidikan">Staf Tenaga Kependidikan</a>
            <a href="/profil/fasilitas">Fasilitas</a>
          </div>
        </li>
        
        <li class="dropdown">
          <a href="#">Ekstrakurikuler </a>
          <div class="submenu">
            <a href="/ekstra/voli">Bola Voli</a>
            <a href="/ekstra/pramuka">Pramuka</a>
            <a href="/ekstra/marching">Marching Band</a>
            <a href="/ekstra/marawis">Marawis</a>
            <a href="/ekstra/rebana">Rebana</a>
            <a href="/ekstra/perisai-diri">Perisai Diri</a>
          </div>
        </li>

        <li><a href="/galeri">Galeri</a></li>
        <li><a href="/berita">Informasi</a></li>
        <li><a href="/kontak">Kontak</a></li>
        <li><a href="/ppdb" class="ppdb">PPDB</a></li>
      </ul>
    </nav>
  </div>
</header>