<%- include('partials/header') %>
<%- include('partials/hero', { title: 'Berita & Informasi' }) %>

<section class="section">
  <div class="container">
    <div class="grid-4">
      <!-- BERITA 1 -->
      <a href="/berita/1" class="item">
        <img src="/img/berita1.jpg" alt="Juara MTQ">
        <h4>Pesantren Kilat Ramadan 2025</h4>
        <p>12 Maret 2025</p>
      </a>
      <!-- BERITA 2-8 (copy 7x) -->
      <a href="/berita/2" class="item">
        <img src="/img/berita2.jpg" alt="Wisuda">
        <h4>Wisuda Kelas 9 Angkatan ke-15</h4>
        <p>5 Juni 2025</p>
      </a>
    </div>
    <div class="center" style="margin-top:40px;">
      <a href="/berita" class="btn">Lihat Semua Berita</a>
    </div>
  </div>
</section>

<%- include('partials/footer') %>