<%- include('partials/header') %>
<%- include('partials/hero', { title: 'Staf Pengajar' }) %>

<section class="section">
  <div class="container">
    <p>Tenaga pendidik profesional dan berdedikasi tinggi</p>
    <div class="grid-4">
      <div class="item">
        <img src="/img/staff1.jpg" alt="Budi Santoso">
        <h4>Budi Santoso, S.Pd</h4>
        <p>Matematika</p>
      </div>
      <div class="item">
        <img src="/img/staff2.jpg" alt="Siti Nurhaliza">
        <h4>Siti Nurhaliza, S.Ag</h4>
        <p>Pend. Agama Islam</p>
      </div>
      <!-- Tambah 6 lagi -->
    </div>
  </div>
</section>

<%- include('partials/footer') %>