<%- include('partials/header') %>
<%- include('partials/hero', { title: 'Fasilitas Sekolah' }) %>

<section class="section">
  <div class="container">
    <p>Sarana penunjang pembelajaran yang lengkap</p>
    <div class="grid-4">
      <div class="item">
        <img src="/img/fas1.jpg" alt="Lab Komputer">
        <h4>Laboratorium Komputer</h4>
      </div>
      <div class="item">
        <img src="/img/fas2.jpg" alt="Perpustakaan">
        <h4>Perpustakaan Digital</h4>
      </div>
      <div class="item">
        <img src="/img/fas3.jpg" alt="Lapangan">
        <h4>Lapangan Olahraga</h4>
      </div>
      <div class="item">
        <img src="/img/fas4.jpg" alt="Mushola">
        <h4>Mushola Nyaman</h4>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') %>